<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>gold128</string>
	<string>gold198</string>
	<string>gold328</string>
	<string>gold648</string>
	<string>libao3</string>
	<string>yueka</string>
	<string>gold68</string>
	<string>zhizunka</string>
	<string>gold30</string>
	<string>gold6</string>
	<string>libao6</string>
	<string>libao1</string>
</array>
</plist>
