<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>com.saiyr.tmjyios.starjoys.83</string>
	<string>com.saiyr.tmjyios.starjoys.251</string>
	<string>com.saiyr.tmjyios.starjoys.60</string>
	<string>com.saiyr.tmjyios.starjoys.300</string>
	<string>com.saiyr.tmjyios.starjoys.980</string>
	<string>com.saiyr.tmjyios.starjoys.1280</string>
	<string>com.saiyr.tmjyios.starjoys.1980</string>
	<string>com.saiyr.tmjyios.starjoys.2580</string>
	<string>com.saiyr.tmjyios.starjoys.3280</string>
	<string>com.saiyr.tmjyios.starjoys.6480</string>
	<string>com.saiyr.tmjyios.starjoys.z60</string>
	<string>com.saiyr.tmjyios.starjoys.z300</string>
	<string>com.saiyr.tmjyios.starjoys.z980</string>
	<string>com.saiyr.tmjyios.starjoys.z1280a</string>
	<string>com.saiyr.tmjyios.starjoys.z1280b</string>
	<string>com.saiyr.tmjyios.starjoys.z1280c</string>
	<string>com.saiyr.tmjyios.starjoys.z1980a</string>
	<string>com.saiyr.tmjyios.starjoys.z1980b</string>
	<string>com.saiyr.tmjyios.starjoys.z1980c</string>
	<string>com.saiyr.tmjyios.starjoys.z3280a</string>
	<string>com.saiyr.tmjyios.starjoys.z3280b</string>
	<string>com.saiyr.tmjyios.starjoys.z3280c</string>
	<string>com.saiyr.tmjyios.starjoys.z6480a</string>
	<string>com.saiyr.tmjyios.starjoys.z6480b</string>
	<string>com.saiyr.tmjyios.starjoys.z6480c</string>
</array>
</plist>
