<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>com.canglang.gold6</string>
	<string>com.canglang.gold30</string>
	<string>com.canglang.gold60</string>
	<string>com.canglang.gold98</string>
	<string>com.canglang.gold198</string>
	<string>com.canglang.gold328</string>
	<string>com.canglang.gold648</string>
</array>
</plist>
